.venv
.venv3-11

**/demonstration*
**/__pycache__*


## src/2d
src/2d/datasets/screenshots*
src/2d/models/old-models

## Backed up the models to OneDrive under `Year 4 > 70011 - ... > backup of 2d-models`
src/2d/models 
src/3d/kup-bench/all-models 

## ignoring the runs folder, created by the writer
src/3d/kup-bench/runs/
# src/3d/kup-bench/data/

## outputs from the grasping vision expereiments 
**/outputs/run-grasp-with-agent