.venv

**/demonstration*
**/__pycache__*


## src/2d
src/2d/datasets/screenshots*
src/2d/models/old-models

## Backed up the models to OneDrive under `Year 4 > 70011 - ... > backup of 2d-models`
src/2d/models 